 <h2>Student List</h2>
 <table border = '1'>
            <tr> 
                <th> Student Id</th>
                <th> Name </th>
                <th> Program </th>
                <th> GPA </th>
            </tr>
            {{#each data}}
                <tr>
                    <td> {{studId}} </td>
                    <td> {{name}} </td>
                    <td> {{program}} </td>
                    <td> {{gpa}} </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan = "4"> No data</td>
                </tr>
            {{/each}}
        </table>